@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.servicios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Ajusta el espacio entre las tarjetas */
  padding: 20px;
}

.servicio-card {
  width: 200px; /* Ajusta el tamaño de las tarjetas */
  background-color: #4a4a4a; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  border: none; /* Quita el borde blanco */
  border-radius: 10px; /* Opcional: para bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7); /* Sombra ligera */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  text-align: center;
}

.servicio-card .card-title {
  font-family: 'Acme', sans-serif;
  margin-bottom: 10px;
}

.servicio-card .card-text {
  margin-bottom: 20px;
}

.servicio-card .btn {
  background-color: #C05A21;
  border: none;
  color: white;
  font-family: 'Acme', sans-serif;
}
